@import "everforest.css";
* {
    border: none;
    border-radius: 0;
    /* font-family: Cartograph CF Nerd Font, monospace; */
    font-family: IosevkaTerm Nerd Font, monospace;
    font-weight: bold;
    font-size: 16px;
    min-height: 25px;
}

window#waybar {
    background: @bg_dim;
    color: @text;
}

tooltip {
    background: @bg_dim;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @crust;
}

#workspaces button {
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0px;
    color: @grey1;
    margin-right: 5px;
}

#workspaces button.active {
    color: @grey1;
}

#workspaces button.focused {
    color: @grey1;
    background: @bg_green;
}

#workspaces button.urgent {
    color: @red;
    background: @blue;
}

#workspaces button:hover {
    background: @bg1;
    color: @grey2;
}

#mpd,
#cpu,
#memory,
#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: @bg_dim;
    padding: 0px 10px;
    margin: 0px;
}

#cpu {
    color: @purple;
}

#memory {
    color: @red;
}

#tray {
    margin-right: 10px;
}

#workspaces {
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-caffeine {
    color: @blue;
    margin-left: 10px;
}

#custom-language {
    color: #f38ba8;
}

#custom-updates {
    color: #f5c2e7;
}

#window {
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: @orange;
    margin-left: 5px;
}

#network {
    color: #f9e2af;
}

#pulseaudio {
    color: @blue;
}

#backlight {
    color: @yellow;
}

#pulseaudio.microphone {
    color: @mauve;
    margin-right: 5px;
}

#battery {
    color: @green;
}

#battery.normal.charging {
    color: @yellow;
}


#battery.warning.charging {
    color: @yellow;
}

#battery.critical.charging {
    color: @red;
}

#battery.critical {
    color: @red;
}

#battery.warning {
    color: @yellow;
}

#custom-weather {
    margin-left: 0px;
}

#mpd {
    color: @sky;
    margin-left: 10px;
    margin-right: 10px;
}
